[2020-01-17 10:58] jwagemann opened #1 "Challenge #11 - Creating Jupyter-based OpenIFS training material"
# Challenge #11 - Creating Jupyter-based OpenIFS training material

### Goal
Create a new set of interactive online training materials for scientific training courses, based on OpenIFS and Jupyter notebooks in the cloud.

### Mentors and skills
* **Mentors:** @mlange05 , @marsdeno @aoyono
* **Skills required:**
  * Jupyter notebooks
  * Python

<hr>

### Challenge description
In this project we ar

[2020-01-17 11:16] EsperanzaCuartero opened #2 "Challenge #12 -Performance-portable implementation of ECRad in Julia"
# Challenge #12 - Performance-portable implementation of ECRad in Julia

### Goal
Performance-portable implementation of ECRad radiation package in Julia

### Mentors and skills
* Mentors: @mlange05 , @marsdeno
* Skills required
  * Julia programming language
  * GPU optimization (optional)

<hr>

### Challenge description
While traditional compiled programming languages, like Fortran or C/C++, pr

[2020-01-17 11:18] EsperanzaCuartero opened #3 "Challenge #13 -Interactive visualization of HPC performance data"
# Challenge #13 -  Interactive visualization of HPC performance data

### Goal
Develop interactive analysis tools for visualizing IFS performance data.

### Mentors and skills
* Mentors: @mlange05 , @marsdeno @crbrune
* **Skills required**
  * Python plotting libraries
  * Performance analysis (optional)

<hr>

### Challenge description
The continuous integration cycle of the IFS model is able to

[2020-01-17 11:20] EsperanzaCuartero opened #4 "Challenge #14 -Size, precision, speed -pick two"
# Challenge #14 - Size, precision, speed - pick two

### Goal
Optimising GRIB and NetCDF data encoding methods that we use operationally for CAMS atmospheric composition data at ECMWF.

The work on this project could help us to reduce both volume of data we store in our archive and the amount we disseminate to the users while preserving useful information.

![data_encoding_puzzle](https://user-ima

[2020-01-17 11:22] EsperanzaCuartero opened #5 "Challenge #21 -Exploring or machine/deep learning techniques to detect and track tropical cyclones"
# Challenge #21 - Exploring machine/deep learning techniques to detect and track tropical cyclones

### Goal
From this project we expect to see a program (preferably based on Python3) that will use a machine/deep learning module to learn to recognize tropical cyclones of different intensities.

The project will consist of two stages:
1. learn to detect tropical cyclones and their intensities using

[2020-01-17 11:25] EsperanzaCuartero opened #6 "Challenge #22 -Applying AI capabilities to address Operations challenges in ECMWF Products Team"
# Challenge #22 - Applying AI capabilities to address Operations challenges in ECMWF Products Team

### Goal
To apply AI capabilities to analyse log data in real-time to be able to predict issues before they occur.

### Mentors and skills
* **Mentors:** @dueben @Matthew-Manoussakis
* **Skills required**
  * Data science experience
  * Strong experience in building AI/ML algorithms
  * Experience i

[2020-01-17 11:27] EsperanzaCuartero opened #7 "Challenge #23 -What is an optimal number of vertical model levels to represent atmospheric trace gases"
# Challenge #23 - What is an optimal number of vertical model levels to represent atmospheric trace gases?

### Goal
Finding an optimal vertical resolution that requires a minimum number of vertical levels to represent the vertical structure of atmospheric traces gases (ozone, NO2, CO2, and aerosols), which are simulated by the ECMWF model on 137 model levels. Different scenarios should be represe

[2020-01-17 11:28] EsperanzaCuartero opened #8 "Challenge #24 -A simple Global Air Quality Data Classification"
# Challenge #24 - A Simple Global Air Quality Data Classification

### Goal
Simple clustering and quality control algorithm to scrutinize air quality observations from different networks worldwide.

### Mentors and skills
* **Mentors:** @miha-at-ecmwf @JohannesFlemming
* **Skills required**
  * Clustering techniques
  * Data quality control knowledge
  * Statistical analysis skills

<hr>

### Chal

[2020-01-17 11:29] EsperanzaCuartero opened #9 "Challenge #25 -Virtual assistant for users of ECMWF online products and services"
# Challenge #25 - Virtual assistant for users of ECMWF online products and services

### Goal
To reduce the number of questions which need answering in person. The AI should ‘converse’ with the user to guide users to what they need.

### Mentors and skills:
* **Mentors:** @annaghelli @kiden @MichyG
* **Skills required**
  * Knowledge of [Dialog flow](https://dialogflow.com) or similar
  * Understa

[2020-01-17 11:30] EsperanzaCuartero opened #10 "Challenge #26 -Forecasting wildfire danger using deep learning"
# Challenge #26 - Forecasting wildfire danger using deep learning

### Goal
The project aims to explore whether a deep learning model could be used to predict wildfire danger at various lead times.

### Mentors and skills
* **Mentors:** @cvitolo @tianranZH
* **Skills required**
  * Experience with Deep Learning
  * Understanding of wildfire danger

<hr>

### Challenge description
The [Global ECMWF

[2020-01-17 11:56] EsperanzaCuartero commented on #2
#Challenge 12
##Performance-portable implementation of ECRad in Julia
###Goal: Performance-portable implementation of ECRad radiation package in Julia
|||

[2020-01-21 11:01] itsmohitanand commented on #5
@jwagemann Is it possible to get the sample data, on which some algorithms could be tried?

[2020-01-22 13:22] jwagemann commented on #5
Hi @melioristic , the new ESoWC round starts next week and then we will get back to you and respond to your question.
Thanks for your understanding!

[2020-01-28 12:18] itsmohitanand commented on #5
Any update?

[2020-01-28 12:46] EsperanzaCuartero commented on #5
Hi @melioristic, many thanks for your interest.
 ESoWC is to launch its third edition 2020 very soon. Please, follow all updates on twitter @esowc_ecmwf, #ESoWC2020 and visit the website esowc.ecmwf.int
Once the application period is open, we will respond in detail to all your questions.

[2020-01-30 15:53] linusmagnusson commented on #5
Dear @melioristic, thanks for showing the interest in this project! We will create some sample data and hopefully make it available next week.

[2020-01-31 12:07] anton-stgt commented on #10
Are historical data will be provided and if yes, which data and how long will be historie. Futhermore, how many fire events (targets ML training) will be provided.

[2020-01-31 21:27] cvitolo commented on #10
Hi @anton-stgt ,
Depending on the objectives, various historical datasets could be used.
If the goal is to predict (probability of) fire occurrence, one option is to use CAMS fire radiative power but there are many others (see also this kaggle [dataset](https://www.kaggle.com/rtatman/188-million-us-wildfires) that provides almost 2M events).
If the goal is to predict (potential) fire danger, then

[2020-02-01 13:07] milankl commented on #2
Hey everyone, checking the [IFS documentation on radiation](https://www.ecmwf.int/en/elibrary/19308-part-iv-physical-processes) and comparing that to what is described in the [Hogan and Bozzo paper](https://agupubs.onlinelibrary.wiley.com/doi/epdf/10.1029/2018MS001364) I'm a bit confused about the complexity of this project. The paper nicely summarizes the physics, but I'm wondering whether you co

[2020-02-01 17:46] itsmohitanand commented on #5
That sounds perfect.

[2020-02-02 19:29] saferplaces commented on #10
Hi , If I have well understood, Target Variable could be selected among CAMS fire or FWI-ERA5, concerning the features of interest can you please indicate which is the reference data-set and the list of main weather variables . Thanks

[2020-02-02 20:10] tianranZH commented on #10
Hi @saferplaces
In terms of training input, you can have a look at table one in this paper: https://journals.ametsoc.org/doi/pdf/10.1175/JAMC-D-15-0297.1
Other than the input listed here, you are welcome to explore any other open data open data from the Copernicus Climate Change (https://cds.climate.copernicus.eu/#!/home) and Atmosphere Monitoring Service (https://atmosphere.copernicus.eu/data). T

[2020-02-02 20:29] saferplaces commented on #10
Thanks a lot for your prompt reply, can you share the available historical daily input dataset used by GEFF system indicator?
Thanks a lot

[2020-02-03 08:49] cvitolo commented on #10
Hi @saferplaces, the inputs for GEFF are in the ERA5 dataset available from the [Copernicus Climate Data Store](https://cds.climate.copernicus.eu/).

[2020-02-03 09:31] saferplaces commented on #10
Dear cvitolo, thanks for you rreply,
looking at the paper the following variables :

- Vegetation Cover
- vegetation Stage
- Fuel Model
- etc

are those variable available in ERA5?

[2020-02-03 15:12] cvitolo commented on #10
Whatever is not available from the Climate Data Store, will be made available to the successful candidates at the beginning of the coding period.

[2020-02-04 11:59] marsdeno commented on #2
Hi Milan,  thanks for taking a look at our project.

Unfortunately, the IFS documentation for radiation is not up to date, and does not reference the "new" radiation package developed by Hogan et al which we are interested in, and described in the paper you link to.
ECRad was developed from scratch by Robin Hogan, with clean programming in mind (attached, the user guide to the package).
[ecrad_doc

[2020-02-04 16:29] mlange05 commented on #2
Hi @milankl
As @marsdeno mentioned, the project is purely focused on the ECRad standalone radiation code, which is much more manageable than the fully integrated version described in the IFS cycle docs. The scope of the project is also kept somewhat flexible by design, since we can pursue various interesting steps, depending on how things go (this is experimental stuff, after all :wink: ). On the

[2020-02-05 14:10] milankl commented on #2
Thanks a lot for the input! I was wondering whether you also plan to make use of Julia's type-flexibility. Technically one could write an entire ECRadiation.jl (Yes, I see you always want to keep things as short as possible, but honestly, no one outside of the radiation community knows that _Rad_ stands for radiation...) package that can be compiled on the fly for any number type. In [ShallowWater

[2020-02-07 15:51] milankl commented on #4
Unfortunately, this link is broken.

[2020-02-07 15:56] milankl commented on #4
Thanks for this challenge (great plot!). I've been working with [posits](https://github.com/milankl/SoftPosit.jl) previously, and compared them extensively to floats (spoiler: posits have a higher information content than floats). In order to understand the difference between posits and floats in a given application better, I've developed [sonums](https://github.com/milankl/Sonums.jl), a maximum e

[2020-02-07 16:28] milankl commented on #2
Also, I was wondering whether you have thought of advertising this challenge on Julia discourse and/or Julia slack?

[2020-02-09 11:25] michiboo commented on #9
@kiden  @annaghelli  Hi, I am quite interested in this project! Is it possible to look at some sample of the basic metadata?

[2020-02-09 15:11] annaghelli commented on #9
@michiboo great to hear you are interested. Will come back with more info Monday.

[2020-02-10 09:31] kiden commented on #9
Hi @michiboo glad to hear you're interested! You can see a lot of the content we want the AI to work with at https://confluence.ecmwf.int/display/UDOC. At the moment it's mostly body content without much metadata, but we will restructure it and add more metadata ahead of and during the AI project. Get back to us if you have any more questions.

[2020-02-10 14:34] agiord commented on #3
@jwagemann, @mlange05  Hello, I'm very interested in this challenge! Is it possible to have some performance data sample to get to know them? Also, can you please provide some references in which hpc performance analysis of nwp models, possibly based on the metrics that will be provided, is carried out?
Thank you!

[2020-02-11 11:20] miha-at-ecmwf commented on #4
Thanks for the message @milankl, I've updated the broken link.

The links that you've sent are fascinating, I've never heard of posits before. As a concept it's something that seems to be perfectly suited for the problems that we are trying to solve. What I'm not sure about is how easy would it be to bring these ideas into our ageing data formats and archives.

As a preparation for the challenge w

[2020-02-11 11:44] itsmohitanand commented on #5
I found this interesting paper and video which classifies galaxies, spiral and elliptical, wherein the concept of transfer learning is utilized making training faster and easier.
https://arxiv.org/pdf/1812.02183.pdf
A wonderful video has also been created,
https://www.youtube.com/watch?time_continue=92&v=8-jcf1TZNdA&feature=emb_logo

Suggestions from mentors are welcomed.

[2020-02-11 12:26] milankl commented on #4
I don't think that netCDF / HDF5 libraries currently support anything else than the standard formats, Float32, Float64, Int32, Int64, etc.. I don't know enough about grib to understand how the "max/min-range with UInt16"-method (does it have an official name?) is implemented there. But I guess, you can always reinterpret any posit bitstring as float and simply write that to file. That shouldn't ca

[2020-02-11 21:04] annaghelli commented on #9
@michiboo you can find more details here: https://confluence.ecmwf.int/display/CKB/
this is our knowledge base. Content is tagged to improve searchability

If you want to know more, please get in touch and we can provide more details

[2020-02-11 23:07] MichyG commented on #9
@michiboo the [Copernicus User Support Forum](https://confluence.ecmwf.int/display/CUSF/Copernicus+User+Support+Forum+Home) may also be of interest to you. It contains some of the questions frequently asked by our users.

Please let us know if you have any further questions.

[2020-02-12 08:41] michiboo commented on #9
@MichyG  @annaghelli  @kiden  Thank you for the responses! I will post here if I have further questions

[2020-02-12 09:59] michiboo commented on #9
In this challenge, do we need to consider integration of the chatbot/virtual assistant into the website?

[2020-02-12 10:04] tibi77 commented on #3
Hello @mlange05 , @marsdeno!
From what I am gathering from the project description the project is supposed to create an interface that is going to respond to changes in the streams. Wouldn't it be something more interesting to make a tool that has the possibility to respond to immediate changes in the ifs? (You would also have the opportunity to look in the past.) I am asking because I have been w

[2020-02-12 10:19] MichyG commented on #9
Hi, yes we would like to have a similar widget like in the [Copernicus Climate Change Service](https://climate.copernicus.eu/) website but more interactive.

[2020-02-12 10:40] marsdeno commented on #2
Sorry for slow response, actively fighting bugs in our code!
So,

- absolutely, regarding type flexibility. Reduced precision is something that is actively being looked at in various areas of our code, and any effort at rewriting code should definitely have type flexibility "baked in"!
- re naming, I can only agree with you!
- we haven't posted this on Julia discourse, that is a good idea, thanks!

[2020-02-12 16:44] mlange05 commented on #3
@agiord and @tibi77 Thank you both for your interest in our ESoWC project! :smile:

@agiord As a reference paper I would point to [this recent GMD paper](https://www.geosci-model-dev.net/12/4425/2019/) on the ESCAPE project. The paper includes some general plots (eg. Fig. 2, 6 and 8), but the project would not necessarily be limited to these plotting types. We are very interested in routinely expl

[2020-02-12 16:58] tibi77 commented on #3
@mlange05 So an interface like the one that grafana[1] is offering would be a good starting point? Of course with more attention to the desired needs of the IFS developers.
Or the application should resemble more something like Intel Vtune what will point out the hot spots of the optimized code?

Also, where is the data kept right now? Can I use this data in AWS or this is going to be an internal

[2020-02-13 17:20] natgeo-wong commented on #2
Thank you @milankl for advertising this in the Julia Slack!  I would be interested in participating as well!  Are there sample codes for us to gauge?

[2020-02-14 11:20] mlange05 commented on #3
@tibi77 Yes, that is roughly the idea. I was personally envisaging a sort of "dashboard"-like webpage tailored to IFS with a bunch of Altair/Bokeh widgets, but yes the idea is roughly that. During initial development, a Jupyter notebook with some widgets for demonstration purposes would already be great, to highlight the different types of plots and animations that we would be interested in. How t

[2020-02-14 16:36] mlange05 commented on #3
[example_profile.zip](https://github.com/esowc/challenges_2020/files/4205454/example_profile.zip)

@agiord @tibi77
Above is some example data to give you a flavour of what the processed output looks like (once unpacked this should be readable using `pandas.read_csv('example_profile.csv')`. It basically lists the min/max/accumulative runtime of individual subroutine routines across threads and MPI

[2020-02-16 05:35] JiaweiZhuang commented on #7
That's an interesting problem! My paper on ACP is quite relevant: [The importance of vertical resolution in the free troposphere for modeling intercontinental plumes](https://www.atmos-chem-phys.net/18/6039/2018/)

[2020-02-16 11:53] tibi77 commented on #3
@mlange05
Ok. Looked through the data and started making some initial scripts for diagnostics but I feel that they are hard to follow. I do not fully understand how the plots should be organised. I will make a github repo so I can experiment there with different plots. I am now thinking of something that will let you select the routine and see all the information from that routine in a simple plot

[2020-02-17 11:44] JohannesFlemming commented on #7
Hi Jiawei,

thank you for your input. The optimal resolution for the model is indeed an interesting science questions. Your and
Sebastien Eastham's papers point out the importance of the a high vertical resolution for long-range plume transport. (It would be interesting to see if your findings are also valid for the semi-Lagrangian advection scheme of the IFS.)

The core of the  esowc is to find a

[2020-02-18 12:27] juanjodd commented on #4
Thank you very much for your knowledgeable feedback @milankl . I have never heard of posits before either. You rightly guessed that CAMS data is not uniformly distributed. I would like to make you a question about your previous comment:

CAMS data is internally calculated by our "model" using Float32 or Float64. This model writes its output as 24-bits, grid-simple packed GRIB files (Miha and I are

[2020-02-18 15:35] linusmagnusson commented on #5
Thanks @melioristic for the interesting material. Sorry for the delay about the test data, I am working on the explanation of the included variables.

[2020-02-19 17:49] milankl commented on #4
Yeah, log-preprocessing / packing is a good step and basically what floats do too. If you plot the precision of floats in a log-plot you get basically a flat line (check out Fig. 2a in [here](https://dl.acm.org/doi/pdf/10.1145/3316279.3316281)). That means if your data is exponentially distributed you get a uniform distribution within a certain range of numbers in such a plot. To minimize the comp

[2020-02-26 05:31] michiboo commented on #9
Hi, Is there a log.txt consist of questions that were asked by users available? It could be really useful.

[2020-02-27 06:05] xiaoya27 commented on #5
Hi@linusmagnusson, this challenge looks really cool! as I was reading the expected outcome in your document, I have questions I would like to ask. The first programme looks like an identification and  classification problem, the idea is quite clear. On the second programme you mentioned " automatically detect tropical cyclones in forcast", does it mean that the model trained in the first prgramme

[2020-02-27 06:06] xiaoya27 commented on #5
Thanks in adance for reading through my rather long questions:)

[2020-02-27 14:00] C3S-ULS commented on #9
We have a number of pages with F&Q which you can check, but they are not comprehensive of all the requests we get. We will be able to provide a more comprehensive list nearer to  the coding period. Some examples are here:
https://confluence.ecmwf.int/display/ECC/Frequently+Asked+Questions
https://confluence.ecmwf.int/display/UDOC/ecCodes+General+-+Frequently+Asked+Questions+-+FAQS
https://confluen

[2020-03-02 20:33] ghost commented on #5
My initial thoughts for the task are: one could apply a relatively simple machine learning classification algorithm like the K-Nearest Neighbors and then apply a more complex deep learning one e.g. Convolutional Neural Nets :-)

[2020-03-03 16:42] ayushprd commented on #8
Hi, I am Ayush, a Computer Science undergrad from India. This project seems very fascinating to me, and I wish to work on it.
Just to confirm, we need to classify and find outliers in the AQ data available from third-party sources like OpenAQ not the CAMS data itself right?

[2020-03-03 17:12] JohannesFlemming commented on #8
Hi Ayush,
Thank you for you interest  in esowc 2020.
yes that is the right. The classification is for the observations available from openAQ. (The classification will be a necessary step to utilise those data in CAMS.)  It would be a further idea to consider if the gridded CAMS data can help in the classification of the openAQ data but this is not required as part of the challenge.

Please do not

[2020-03-05 09:23] jwagemann opened #11 "Stream 3 - Questions"
# Propose your own project idea to receive cloud credits from the European Weather Cloud

### Goal
Do you have a project idea that makes use of ECMWF or Copernicus open data but you would need cloud processing resources to process the data? This is your chance to get access to cloud credits and gain experience in cloud computing.

### Mentors and eligibility requirements
* **Mentors:**
  * you wil

[2020-03-05 16:30] juanjodd commented on #4
Thank you for your clear explanation @milankl and for sharing the [paper](https://dl.acm.org/doi/pdf/10.1145/3316279.3316281) above, I personally found it very interesting. Using your feedback as excuse, I asked to CAMS-model developers about the typical distribution of model's output variables and they confirmed most of them tend to be log-normal distributed.

Also apologies for this late reply,

[2020-03-10 12:42] dangalea commented on #5
Hi @linusmagnusson @pmaciel @jwagemann,

I will be presenting a poster at EGU, given it goes ahead, on something [very similiar](https://meetingorganizer.copernicus.org/EGU2020/EGU2020-9870.html) that I've been working on as part of my PhD, with a paper on it currently in the works.

A few questions that I have regarding this challenge:
- Is the objective to check whether a TC is present in a part

[2020-03-11 00:08] milankl commented on #4
Hey @juanjodd, thanks for contacting the CAMS-team. Interesting that also chemical tracers follow a log-normal distribution. This indeed sounds like a good case for a compression with tapered precision (similar to posits). Apart from error norms are there any other measures to quantify the retained information content after compression? E.g. should the compressed data be able to reproduce a given

[2020-03-11 11:26] milankl commented on #2
@marsdeno @mlange05 I assume you are aware of [RRTMGP.jl](https://github.com/climate-machine/RRTMGP.jl). How does this radiation scheme differ from ECRadiation or how much of their code could be reused in this project?

[2020-03-12 10:58] DebDx commented on #11
The projects have to be an end product or can it be a research based project?

[2020-03-12 15:49] milankl commented on #11
@jwagemann as I don't where else to ask: Is it mandatory to present on Sept 18 in person or could this also be done virtually? I'm currently investigating options to shift/postpone a few other projects that I'm involved with around coronavirus-related travel restrictions and it could be that one of these projects will take place in Sept/Oct such that I would be able to work on ESoWC beforehand, bu

[2020-03-12 17:46] jwagemann commented on #11
Hi @DebDx ,
the projects can be research based as well.

[2020-03-12 17:49] jwagemann commented on #11
Hi @milankl ,
there was a change in the date of the final ESoWC day @ECMWF anyway. It will now be the 25 September 2020. Even though we encourage in-person attendance, we understand that the date is not optimal for everyone. We have live-streaming capabilities, thus there will be the option to present the project results from remote.

[2020-03-12 21:08] linusmagnusson commented on #5
Thanks for showing the interest @xiaoya27 ! On the second programme you mentioned " automatically detect tropical cyclones in forcast", does it mean that the model trained in the first prgramme by BestTrack database will be tested with model forcast's data, or does it mean I should build on top of prgramme1 a timeseries forcast model?
The idea is to use the position of the tropical cyclones and sa

[2020-03-12 21:17] linusmagnusson commented on #5
@dgaleareading , thanks for your questions! Your project sounds very interesting. Our current idea is to use the simulated satellite images from the ECMWF high-resolution analysis together with the BestTrack positions. It can also be considered to compare the results from simulated and real satellite images. A method to link different time instances to make a trajectory would be great.

In the fir

[2020-03-12 21:25] dangalea commented on #5
@linusmagnusson Thanks for your reply. I have currently produced a model that detects whether a TC is present in a section of the globe using 10m wind speed, MSLP, and vorticity at 3 levels. I'm fairly sure that my model can be re-trained using the appropriate data to get a model with an acceptable accuracy.

Is the aim ot locate the TC, i.e. drawing a bounding box around it or identify its centre

[2020-03-13 12:40] milankl commented on #11
Thanks Julia for the info, Sept 25 sounds good!

[2020-03-29 06:39] natgeo-wong commented on #2
Hi @marsdeno @mlange05, just checking in are there any news/updates or sample codes for us to gauge?

[2020-03-31 12:29] jwagemann commented on #10
Join us for our LIVE **@ECMWF Summer of Weather Code Ask Me Anything** session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](http://esowc.ecmwf.int/ama)

[2020-03-31 12:30] jwagemann commented on #9
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:30] jwagemann commented on #8
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:31] jwagemann commented on #7
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:32] jwagemann commented on #5
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:32] jwagemann commented on #4
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:32] jwagemann commented on #3
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:33] jwagemann commented on #2
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 12:33] jwagemann commented on #11
Join us for our LIVE @ecmwf Summer of Weather Code Ask Me Anything session on 1 April 2020 at 2 pm (CET) (tomorrow).

Get infos first hand from the #ESoWC2020 organisers, mentors and former #ESoWC participants.
➡️[Sign up](https://esowc.ecmwf.int/ama)

[2020-03-31 15:59] marsdeno commented on #2
Hi @milankl , sorry for missing your post!
Indeed we are aware of rrtmpg.jl, and believe it could absolutely be used as a template /strong inspiration for this work. The ecrad radiation scheme differs from rrtmg in algorithmic and implementation choices, with in particular an accent on encapsulating the four main components (gas optics, aerosol optics cloud optics and solver) allowing easy substit

[2020-03-31 16:07] marsdeno commented on #2
Hi @natgeo-wong   unfortunately, distribution of the code is covered by a license precluding us from pasting code examples online, I'm very sorry (and aware of how frustrating this is!)
I can tell you that it is clean, modular "modern fortran", composed of 250 files, with around 60k loc total.  Hope that helps a little!

[2020-04-01 12:39] saferplaces commented on #11
This IPR is valid also in Stream3 “Participant grants ECMWF a free, non-exclusive, irrevocable, worldwide, transferable, sub-licensable and perpetual license to use all such intellectual property rights as are necessary for the use of the Deliverables, including for their maintenance, modification, and replacement by or on behalf of ECMWF”

[2020-04-01 12:40] saferplaces commented on #11
For Stream3 there is any template for the proposal?

[2020-04-01 13:52] jwagemann commented on #11
Hi @saferplaces regarding the IPR related to Stream 3: you raise a valid point here as the projects under Stream 3 will be more of an explorative nature. I'll consolidate with our legal department and will get back to you.

Concerning a template for the proposal: we do not have a template per se, but we will provide some guidelines on what makes a good proposal.

[2020-04-01 14:25] saferplaces commented on #11
Thanks a lot!! Yes for Stream 3 I would suggest to leave IPR to the developers if possibile. Thanks

[2020-04-03 12:03] itsmohitanand commented on #5
Is it possible to have some of the training data or we should just go on with a conceptual proposal?

[2020-04-03 12:37] RamaniLachyan commented on #10
What is the ground truth we are supposed to use for this project/ where can it be found?

[2020-04-03 15:08] tianranZH commented on #10
Hi @RamaniLachyan
We are expecting two stages of this project:
1. use GEFF model output as labels for training, this is to evaluate the ability of DL model to reproduce GEFF
2. use satellite observation data as labels for training, for example the output from GFAS, this is a more challenging step since the output of GEFF (fire danger, the chance of there is a fire) is not directly same with output

[2020-04-04 07:42] Muggle-K commented on #5
Interesting project！
I happened to be working on something related to this project，how can I participate?

[2020-04-04 16:19] linusmagnusson commented on #5
@melioristic and others. Sorry for the delay for the sample data, but we had to think about the formats. The attached csv file has data for tropical cyclones tracked by the ECMWF cyclone tracker in the ECMWF analysis. The columns lat_p and lon_p gives the position of the centre of the cyclone defined by the minimum pressure. The columns wind and pres gives the intensity in terms of maximum wind an

[2020-04-06 12:32] jwagemann commented on #11
Hi @saferplaces . Concerning the IPR:
- Art. 5(2) in the [ESoWC Terms and Conditions](https://esowc.ecmwf.int/terms-and-conditions)  states to grant ECMWF a restricted license solely to choose the proposals under Stream 3
- Art. 5(3) only addresses deliverables under Stream 1 and Stream 2.

Hope this helps.

[2020-04-06 12:49] jwagemann commented on #11
I added an example how a proposal could be structured.

[2020-04-06 22:29] boshek commented on #10
Depending on the spatial extent of this challenge, one might consider combining historical data with satellite imagery. For example the BC government publishes spatial data on historical fires (accessed here through the bcdata R package):

[code]

<sup>Created on 2020-04-06 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

Just stumbled across this issue and thought I'd offer t

[2020-04-07 10:09] RamaniLachyan commented on #10
Thank you. Are we expected to generate our own GEFF outputs as I cannot seem to find any public GEFF-reanalysis dataset (https://confluence.ecmwf.int/pages/viewpage.action?pageId=73017108)

[2020-04-07 11:30] cvitolo commented on #10
Thanks for the suggestion @boshek, that's very valuable!

Hi @RamaniLachyan, GEFF reanalysis data was recently migrated to the Copernicus Climate Data Store: https://cds.climate.copernicus.eu/cdsapp#!/dataset/cems-fire-historical?tab=overview

[2020-04-09 09:18] EsperanzaCuartero commented on #8
Hi Miha and Johannes,
During the webinar one participant asked the following questions related to your challenge:

Q.1 What is the metrics to determine success? Reducing uncertainty of the dataset .
Q.2 Is one person team with AQ advisors ok?

Could you respond here? Thanks

[2020-04-09 16:17] timokelder commented on #11
Hi,
I'm Timo, a PhD student at Loughborough University studying weather and climate extremes. Together with a team at Loughborough, Oxford and ECMWF (and anyone interested), we would like to propose the following [project](https://timokelder.github.io/UNSEEN-open/) but we would welcome some advice/opinions on whether the project fits the scope of esowc. Our project proposes to use seasonal forecas

[2020-04-09 16:20] milankl commented on #11
Just out of interest, how realistic is the SEAS5 ensemble spread?

[2020-04-09 16:21] milankl commented on #11
@joshdorrington interesting?

[2020-04-09 16:23] timokelder commented on #11
I suppose it really depends on the target variable and region, but evaluation would definitely be a very important part of the workflow!

[2020-04-09 16:26] milankl commented on #11
Well, you mentioned precipitation 🤔

[2020-04-09 16:44] timokelder commented on #11
For UK winter precipitation extremes we should be alright, since they are driven by large scale weather systems (e.g. Atmospheric rivers) that SEAS5 (36km horizontal resolution) is able to solve

[2020-04-10 10:54] adiah80 commented on #6
Hello, I am Aditya. I'm currently a pre-final year Computer Science undergrad at BITS Pilani. I'm specializing in Machine Learning.

I have worked on similar problems and datasets before wherein I used a combination of dimensionality reduction and clustering algorithms to analyze log files. I also have some experience with anomaly detection.

Do you have any representative dataset (machine logs) t

[2020-04-12 19:25] dueben commented on #6
Many thanks for your interest and sorry for the delayed response.

I am afraid that I cannot provide you a sample for the dataset at this stage. However, Matthew may be able to provide some input here.

In general we have a lot of data for a lot of different diagnostics. With this challenge, we want to start to explore this space with machine learning methods. In particular, we are interested to i

[2020-04-12 19:43] AshishOhri commented on #8
Hi,
I had a question regarding the possible solutions mentioned above.

One of the possible solutions was to **check classification with meta data such as population statistics**.
I wanted to know whether checking classification means to check any correlation of population with the formation of a cluster? For example two high population cities A and B exist in one cluster. Cities C and D with low

[2020-04-12 19:53] iam-Shashank commented on #8
Hey, I am interested in this challenge. This is my **understanding** of the current problem/limitation and possible solutions:
*   CAMS lacks credible surface air quality observations for some areas
*   for these areas, data from openAQ available
*   2 problems with that data
    *   no quality control applied to the data
    *   not well known if the observations are made in a rural/ urban settin

[2020-04-13 17:11] bs2603 commented on #3
@jwagemann @mlange05 @marsdeno
Hello!
I am interested in working on this project.
I went through the prerequisites and have prior experience with plotting high level usage as well as low level implementation of the plotting libraries.

In the csv file given by @mlange05 in a previous comment, can you please elucidate the kind of plots that are being expected?

[2020-04-15 16:18] mlange05 commented on #3
Hi @bs2603 and many thanks for you interest in this challenge. We are envisioning a dashboard-like set of widgets/interactive plots that can be used to analyse various performance aspects of the IFS model and its components. The design of the individual types and combinations of plots is hereby part of the challenge, as process will be driven by feedback and interaction with IFS developers and HPC

[2020-04-16 14:23] itsmohitanand commented on #8
@miha-at-ecmwf and @JohannesFlemming

I am drafting my proposal and I have some queries.
The goal of the project is "Simple clustering and quality control algorithm to scrutinize air quality observations from different networks worldwide."

And in a section titled as "What could be the solution?*"
The first point is "Use AI clustering techniques to identify classes in the observed AQ data."
When w

[2020-04-16 20:11] JohannesFlemming commented on #8
Hello everybody,

thanks a lot for your questions. It is great to see so much interest in that task. The nature of your questions indicate that you are already on a good path to tackle the challenge.

The general objective is to find a practical classification stations for which observations are available in openAQ, especially in regions outside Europe and North-America. The classification should

[2020-04-17 05:41] fadouaeddounia commented on #10
Hi
For the DL model outputs, do we need to model the all list of variables as described here http://datastore.copernicus-climate.eu/c3s/published-forms/c3sprod/cems-fire-historical/Fire_In_CDS.pdf
or can we concentrate only on the following main outputs:

FWI Model
------------
Fire Weather Index - FWI
Fire Severity
Danger Rating

Mc-Arthur 5
-------------
Fire Danger Index

NFDRS
-------------
Bu

[2020-04-17 07:16] cvitolo commented on #10
Hi @fadouaeddounia !
In the first instance, I would suggest to focus on the FWI system. If time allows, other systems can be explored.

[2020-04-17 10:28] bs2603 commented on #3
@mlange05
[here](https://github.com/bs2603/ESoWC2020/tree/master/TestSamples) is a bar graph plot I've made

Can you please take a look at this and tell what other features should I add for the given data. I've also uploaded the example.csv file I used.
I will make some more glyphs and upload them soon.
The data you've provided gives the average run-times of the Routines,at the moment I've used th

[2020-04-18 15:07] itsmohitanand commented on #8
@JohannesFlemming and @miha-at-ecmwf

Thank you for such a detailed answer. It is really helpful. I have some more general questions regarding the proposal now.  I am just on the verge of finishing my MSc and worked on time series data and Machine Learning. I foresee a research paper out of this proposal. Can the proposal for this contain baseline methods where we implement preexisting algorithms

[2020-04-18 15:29] jwagemann commented on #11
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:30] jwagemann commented on #10
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:30] jwagemann commented on #9
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:31] jwagemann commented on #8
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:32] jwagemann commented on #7
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:32] jwagemann commented on #6
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:33] jwagemann commented on #5
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:34] jwagemann commented on #4
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:36] jwagemann commented on #3
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:37] jwagemann commented on #2
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 15:38] jwagemann commented on #1
Only 4 days left to apply to be part of ECMWF Summer of Weather Code 2020.
Application deadline: **Wednesday, 22 April 2020 at 23:59 (BST)**.
Submit your proposal [here](https://esowc.commpla.com/form/application-form).

[2020-04-18 20:12] Adithya-MN commented on #6
Hi, I am Adithya Niranjan, a classmate of Aditya Ahuja's. I found this project really interesting and plan to work with him on this task. I've previously worked in projects on applying deep meta-learning for time-series forecasting and also on applying online classification models on EEG based time-series data, among other projects.

Just had a few questions to understand the problem better -
1) W

[2020-04-19 06:08] lazyoracle commented on #10
Do we have an idea about the ballpark accuracy levels of the existing FORTRAN implementation of GEFF with the ground truth? Could be for any time scales or any geography. Just trying to understand what kind of benchmarks we need to reproduce with the DL models.

[2020-04-19 16:44] milankl commented on #4
Just to let everyone and @miha-at-ecmwf and @juanjodd know, I've just submitted a proposal for this challenge and also uploaded it in this repository [Elefridge](https://github.com/milankl/Elefridge.jl) in case anyone wants to look at it or has further ideas. Issues always welcome.

[2020-04-19 16:49] milankl commented on #2
Just to let you know @marsdeno and @mlange05, I've decided against this project due to time constraints. Challenge #14  (#4) fits better into my PhD such that I decided to write a proposal for this instead. In case anyone wants to push Julia for NWP in the future, please let me know, I would like to contribute wherever I can.

[2020-04-19 19:02] dueben commented on #6
Hi Adithya, It is great that you are interested in this challenge.

Here are my responses. Matthew can disagree if he thinks of this differently:
1. I guess it would make sense to start with the assumption that the logs are univariate. However, as we increase complexity of the solutions, we should also consider multivariate analysis later during the project.
2. Well, this depends a bit on how far

[2020-04-20 04:58] Matthew-Manoussakis commented on #6
Hi Adithya,

  1.  The idea is to start with univariate but we may consider multivariate later.
  2.  The objective of this project is the implementation of a proof of concept automated alarm system. The deployment in production may come later and it is not part of this project.
  3.  Spikes may happen on an weekly basis but in some cases may also happen on a daily basis.

I hope this helps.

 Mat

[2020-04-20 08:10] saferplaces commented on #10
Dear All, we have a doubts concerning the Real value of the target variable to be predicted by ML/DL model, for example in case we would like to train and build a model for FWI target variable, which are the "real" or observation value of the FWI to be used for training the model? I was thinking to use the GEFF **Reanalysis** FWI value is it correct? are available other FWI observation from Satell

[2020-04-20 10:07] cvitolo commented on #10
@lazyoracle we expect to see at least 80% accuracy in Europe

@saferplaces FWI is not observed, it is an index of 'potential danger' derived from meteorological observations. In terms of ground truth you can use: 1) GEFF reanalysis FWI or 2) FWI calculated from ground based meteorological observations.
If time allows, it would be interesting to see how the basic DL model can be adapted to predict

[2020-04-20 12:40] mlange05 commented on #3
@bs2603 Thanks, that first draft already looks very nice.

@bs2603 @tibi77 @agiord Here is another set of sample profiling data:
[more_profile_data.zip](https://github.com/esowc/challenges_2020/files/4503509/more_profile_data.zip)

This time the data contains individual routine metrics from two different runs (serial and thread-parallel) for a particular sub-component of the model. The data includ

[2020-04-20 15:40] RamaniLachyan commented on #10
`We value proposals that are:
clearly described, including a timeline for deliverables and milestones,
technically feasible within 4 months,
proposing a scientifically-sound approach,
applicable to any place on Earth
open source, well documented and easy to maintain`

What does an "open source" proposal imply?

[2020-04-21 08:44] Adithya-MN commented on #6
@dueben and @Matthew-Manoussakis, thank you for the info.

We'll cover both univariate and multivariate approaches in our proposal then. From your answers to Q2, I gather that the primary focus is on getting a good working ML/DL model on the data - we will focus on the same. For now, we have shortlisted several promising approaches, open implementations and papers on the problem - we'll summarise

[2020-04-21 13:24] JohannesFlemming commented on #8
Hi @melioristic
Thank you for your question. A robust and practical solution of problem is the main criterion for defining success from our side. The choice of the method and innovation of ML methods is an a further criterion,  especially if the innovations are instigated by the specifics of the problem to classify the AQ observations. And finally, concrete plans to write a paper either focusing m

[2020-04-21 14:49] itsmohitanand commented on #8
@JohannesFlemming  Thanks for your response. We are just submitting the proposal as a team of two. Will wait for the results now.

[2020-05-03 13:01] itsmohitanand commented on #8
@JohannesFlemming @miha-at-ecmwf @jwagemann
Just out of curiosity, are the results already out?

[2020-05-05 21:39] marsdeno commented on #2
all the best for your PhD, @milankl !

[2021-05-03 11:59] #11 closed, assigned to jwagemann, EsperanzaCuartero

[2021-05-03 11:59] #10 closed, assigned to cvitolo, jwagemann, tianranZH

[2021-05-03 12:00] #9 closed, assigned to kiden, jwagemann, annaghelli

[2021-05-03 12:00] #8 closed, assigned to jwagemann, miha-at-ecmwf, JohannesFlemming

[2021-05-03 12:00] #7 closed, assigned to jwagemann, miha-at-ecmwf, JohannesFlemming

[2021-05-03 12:00] #6 closed, assigned to jwagemann, dueben, Matthew-Manoussakis

[2021-05-03 12:00] #5 closed, assigned to pmaciel, jwagemann, linusmagnusson

[2021-05-03 12:01] #4 closed, assigned to jwagemann, miha-at-ecmwf, juanjodd

[2021-05-03 12:01] #3 closed, assigned to mlange05, jwagemann, marsdeno

[2021-05-03 12:01] #2 closed, assigned to mlange05, jwagemann, marsdeno

[2021-05-03 12:01] #1 closed, assigned to mlange05, jwagemann, aoyono, marsdeno